<div class="row">
  <div class="span2"></div>
  <div class="span2">
    <%= render :partial => "nav" %>
  </div>
  <div class="span5">
    <ul class="tasklist">
      <li id="new_task">
        <%= form_for [@list, Task.new] do |f| %>
          <%= f.text_field :description, :placeholder => "What do you have to do?" %>
        <% end %>
      </li>
      <%= render @list.tasks.ordered %>
    </ul>
  </div>
  <div class="span3"></div>
</div>
