<div class="row">
  <div class="span2"></div>
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="">Home</a></li>
      <li><a href="">Work</a></li>
    </ul>
  </div>
  <div class="span5">
    <div class="tab-content">
      <ul class="tasklist">
        <li>
          <input type="text" placeholder="What do you have to do?">
        </li>
        <li class="edit">
          <input type="checkbox" class="pull-left">
          <div class="content">
            <input type="text" value="two">
            <div class="notes">
              <hr>
              <textarea>These are some notes.</textarea>
            </div>
            <div class="buttons">
              <button class="btn btn-mini" type="button">Cancel</button>
              <button class="btn-primary btn btn-mini" type="button">Save</button>
            </div>
          </div>
        </li>
        <li>
          <label class="checkbox"><input type="checkbox">three</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="span3"></div>
</div>
